:root {
    --initializr-nav-height: 80px;
}

header .title {
    font-family: 'Roboto', serif;
    font-size: xx-large;
}

nav {
    height: var(--initializr-nav-height);
    position: sticky !important;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px 0 #35353533;
}

nav .navbar-brand img {
    width: 250px;
}

h1 {
    font-size: 1.25rem !important;
    color: #ff9925 !important
}

#settings {
    min-height: calc(100vh - var(--initializr-nav-height));
}

@media (min-width: 992px) {
    #settings {
        border-right: 1px solid #D1D3D5;
    }
}

#dependencies .content {
    min-height: 200px;
    background-color: azure;
}

i.help {
    color: lightgrey;
}

textarea.description {
    max-height: 150px;
    overflow-y: auto;
}
